                                                                    /* ----------- Screen Resolution 320px and 480px ----------- */
                                                                /* Start CSS reset   */
                                                                
                                                                @media only screen and (max-width: 320px) {
                                                                    * {
                                                                        /* overflow-x: hidden; */
                                                                    }
                                                                    body {
                                                                        background-color: yellow;
                                                                    }
                                                                }
                                                                
                                                                @media only screen and (min-width: 321px) {
                                                                    * {
                                                                        /* overflow-x: hidden;*/
                                                                        body {
                                                                            /*  background-color: blue;*/
                                                                        }
                                                                    }
                                                                    @media only screen and (max-width: 895px) {
                                                                        .top-navbar {
                                                                            /* padding: 0;*/
                                                                        }
                                                                        #navbar-checkbtn {
                                                                            display: block;
                                                                        }
                                                                        .Right-Navbar ul {
                                                                            width: 100%;
                                                                            height: 100vh;
                                                                            background-color: #675D50;
                                                                            display: block;
                                                                            position: fixed;
                                                                            top: 80px;
                                                                            left: -100%;
                                                                        }
                                                                        .Right-Navbar ul li {
                                                                            margin: 20px 0;
                                                                            text-align: center;
                                                                        }
                                                                        .Right-Navbar ul li a {
                                                                            color: white;
                                                                        }
                                                                        .about-us-item img {
                                                                            margin: 16% 0;
                                                                        }
                                                                        .contact-left {
                                                                            margin: 5% 0;
                                                                        }
                                                                    }