/* Start CSS reset   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*  CSS Variable */

body,
html {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}


/* utility classes */

.text-center {
    text-align: center;
}

img-responsive {
    width: 100%;
}

.butter-btn {
    color: #fff;
    padding: 1.5%;
    background-image: linear-gradient(to right, orange, rgb(243, 70, 70));
    border-radius: 25px;
    cursor: pointer;
    border: transparent;
}

.butter-btn:hover {
    background-image: linear-gradient(to left, orange, rgb(243, 70, 70));
}

.butter-btn a {
    text-decoration: none;
    color: #fff;
    /* font-size: 16px;*/
    font-weight: 900;
}


/* Google Font */


/*
font-family: 'Alkatra',
cursive;
font-family: 'Bebas Neue',
cursive;
font-family: 'Changa One',
cursive;
font-family: 'Dancing Script',
cursive;
font-family: 'Delicious Handrawn',
cursive;
font-family: 'Edu NSW ACT Foundation',
cursive;
font-family: 'Fasthand',
cursive;
font-family: 'Lato',
sans-serif;
font-family: 'Lora',
serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Open Sans',
sans-serif;
font-family: 'Pacifico',
cursive;
font-family: 'Poppins',
sans-serif;
font-family: 'Roboto Condensed',
sans-serif;
*/


/* Start Navigation Bar Styling */

#Navbar-Section {
    position: sticky;
    top: 0;
    /* background-color: rgba(255, 217, 101, 0.5);*/
    padding: 2% 5%;
    background-color: white;
    opacity: 0.5;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    height: 10vh;
}

.Left-Navbar {
    display: flex;
}

.navbar-logo {
    width: 100px;
    position: relative;
    top: -40px;
    left: 0px;
}

.navbar-logo img {
    width: 100%;
    object-fit: cover;
}

.navbar-name {}

.navbar-name label {
    color: #111;
    font-weight: 900;
    letter-spacing: 0.1em;
    /*line-height: 10px;*/
}

.navbar-name label span {
    color: #FFD966;
    font-family: 'Alkatra', cursive;
    font-weight: 900;
}

.Right-Navbar {
    display: flex;
}

#navbar-checkbox {
    display: none;
}

#navbar-checkbox:checked~ul {
    left: 0;
}

#navbar-checkbtn {
    display: none;
    float: right;
    /* line-height: 80px;*/
    margin-right: 10px;
    font-size: 30px;
    color: #A7727D;
}

.Right-Navbar ul li {
    padding: 0 12px;
}

.Right-Navbar ul li a {
    color: #111;
    font-weight: 900;
    padding: 7px 13px;
    border-radius: 25px;
}

a.active,
a:hover {
    background-color: #A9907E;
    transition: .5s;
}


/* End Navigation Bar Styling */


/* Start Welcome Section Styling */

#welcome-section {
    background-image: url(../img/food-g1b5c8f33c_1920.jpg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    opacity: 0.5;
    text-align: center;
    padding: 7% 0;
    box-sizing: border-box;
    max-width: 100%;
    height: 80vh;
}

.welcome-main h1 {
    font-size: 2em;
    padding-bottom: 5%;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: 'Pacifico', cursive;
}

.welcome-main h1 span {
    color: #FFD966;
}

.welcome-main p {
    color: white;
    font-weight: 900;
    padding-bottom: 5%;
    font-family: 'Lora', serif;
    font-size: 18px;
}


/* End Welcome Section Styling */


/* Start Deals Section Styling */

#deals-section {
    padding: 5% 0;
}

.deals-content {
    text-align: center;
    justify-content: space-between;
    padding: 2%;
}

.special-deals {}

.deal-container {
    display: flex;
}

.deal-heading {
    border: 1px solid;
    border-radius: 25px;
    padding: 2%;
    background-image: linear-gradient(to right, orange, rgb(243, 70, 70));
    color: white;
    text-transform: uppercase;
}

.deal-item {
    margin: 2% 3%;
    border: 1px solid;
    padding: 2%;
    box-sizing: border-box;
}

.deal-item img {
    width: 100%;
}

.deal-item h3 {}


/* End Deals Section Styling */


/* Start About Us Section Styling */

#about-us-section {
    background: linear-gradient(90deg, rgba(255, 217, 102, 1) 0%, rgba(121, 48, 9, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.about-us-content {
    display: flex;
    box-sizing: border-box;
    padding: 5% 3%;
}

.about-us-item {
    width: 50%;
    margin: 0 3%;
}

.about-us-item img {
    width: 100%;
    border-radius: 25px;
}

.about-us-item h1 {
    font-size: 42px;
    margin-bottom: 7%;
    text-transform: uppercase;
    color: white;
}

.about-us-item p {
    font-size: 22px;
    line-height: 1.5;
}

.about-us-item p span {
    color: #FFD966;
}


/* End About Us Section Styling */


/* Start Contact us Section Styling */

#contact-us-section {
    margin: 5% 2%;
    box-sizing: border-box;
}

.contact-container {
    display: flex;
}

.contact-left {
    width: 50%;
}

.contact-left img {
    width: 100%;
    border-radius: 25px;
}

.contact-right {
    width: 50%;
    margin-top: 3%;
    margin-left: 10%;
}

.contact-right h1 {
    font-size: 42px;
    color: #FFD966;
    letter-spacing: 15px;
    text-transform: uppercase;
}

.address-bar {
    margin-top: 7%;
}

.address-bar a {
    display: block;
    margin: 2.5% 0;
    color: black;
    text-align: justify;
}

.address-bar a i {
    margin-right: 2%;
}


/* End Contact us Section Styling */


/* start Footer Section Styling */

.footer-section {
    background: linear-gradient(90deg, rgba(255, 217, 102, 1) 0%, rgba(121, 114, 9, 1) 100%, rgba(0, 212, 255, 1) 100%);
    height: 5vh;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
}

.footer-section p {
    color: white;
    font-weight: 700;
    line-height: 10px;
}


/* End Footer Section Styling */